body {
	background-color: #f2f7fa;
}
.side-nav {
	background-color: #333333;
	min-height: 100rem;

}

.side-nav ul {
	list-style-type: none;
	margin: 2em 0 0 0;
}

.base-header {
	background-color: #555;
}