body {
	background-color: #ECEFF1;
}

.side-nav {
	background-color: #263238;
	min-height: 100%;

}

.side-nav ul {
	list-style-type: none;
	padding: 0em;
	margin: 0em;
}

.active {
	background: green;
}

/*Work Order Styles*/

