bin
db.sqlite3
*.pyc
*.DS_STORE
manage.py
local_settings.py
sae_dummy_data.sql
mockdata/
planning/
service/
announcement/migrations/
authenticate/migrations/
customer/migrations/
employee/migrations/
service/migrations/
vehicle/migrations/
workorder/migrations/

*.sqlite3
CKTM
