dj-database-url==0.4.0
Django==1.9.2
django-easy-pdf==0.1.0
django-wkhtmltopdf==3.0.0
django-xhtml2pdf==0.0.3
gunicorn==19.4.5
html5lib==0.9999999
Pillow==3.1.1
psycopg2==2.6.1
pyPdf==1.13
PyPDF2==1.25.1
reportlab==3.3.0
six==1.10.0
whitenoise==2.0.6
wkhtmltopdf==0.2
xhtml2pdf==0.0.6
