{% extends "customer/base.html" %}
{% block title %}{{customer}} Form{% endblock %}
{% block content %}
<h5>Customer Directory</h5>
	<li><a href="/customers/customer_directory/object_form">Add New</a></li>
	<div class="customer-container">
		<br/>
		{% for customer in customers %}
			<div class="customer-profile">
				<ul class="customer-information">
					<li><img src="http://placehold.it/150x150" /></li>
					<strong>{{customer.first_name}} {{customer.last_name}}</strong>
					<li>Email: <a href="mail:{{customer.email}}"/>{{customer.email}}</a></li>
				</ul>
			</div>
		{% endfor %}
{% endblock %}