{% extends 'base.html' %}
{% block content %}

<div class="row">
	<div class="col-md-12">
		<div class="card employee-card">
			<h3 class="card-title">Customer Information</h3>
			<table class="table">
				<th>First Name </th>
				<th>Last Name</th>
				<th>Address</th>
				<th>Email</th>
				<th>Edit</th>
				<tbody>
					<tr>
						<td>{{customer.first_name}}</td>
						<td>{{customer.last_name}}</td>
						<td>{{customer.address}}</td>
						<td>{{customer.email}}</td>
						<td>
							<form action="/customers/customer_edit_form/{{customer.id}}">
							    <button type="submit" value="Create Work Order" class="btn btn-primary">Edit</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="card employee-card">
			<h3 class="card-title">Vehicles Owned</h3>
			<table class="table table-striped">
				<th>Year </th>
				<th>Make</th>
				<th>Model</th>
				<th>License Plate</th>
				<th>Vehicle History</th>
				<tbody>
				{% for vehicle in customer.vehicle.all %}
					<tr>
						<td>{{vehicle.year}}</td>
						<td>{{vehicle.make}}</td>
						<td>{{vehicle.model}}</td>
						<td>{{vehicle.license_plate}}</td>
						<td>
							<form action="/customers/vehicle_profile/{{vehicle.id}}">
							    <button type="submit" value="Create Work Order" class="btn btn-primary">View History</button>
							</form>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}