{% extends 'base.html' %}
{% block content %}
	<h3>Customer Profile</h3>

	<div class="card">
		<h4>Customer Information</h4>
		<strong>First Name: {{customer.first_name}}</strong><br>
		<strong>Last Name: {{customer.last_name}}</strong><br>
		<strong>Address: {{customer.address}}</strong><br>
		<strong>Email: {{customer.email}}</a></strong>
		<br>
		<a href="/customers/customer_edit_form/{{customer.id}}">(Edit)</a><br>
	</div>
	<div>

			<h5>Vehicles Owned</h5>
			
			<table class="table table-striped">
			<thead>
				<tr>
					<th>Year</th>
					<th>Make</th>
					<th>Model</th>
					<th>License Plate</th>
				</tr>
			</thead>
			</table>
	</div>
	<div style"max-height: 200px; overflow: auto;">
		<table class="table table-striped">
		<tbody>
			{% for vehicle in customer.vehicle.all %}
				<tr>
					<td>{{vehicle.year}}</td>
					<td>{{vehicle.make}}</td>
					<td>{{vehicle.model}}</td>
					<td>{{vehicle.license_plate}}</td>
					<td><a href="/customers/vehicle_profile/{{vehicle.id}}">Select</a></td>
				</tr>
			{% endfor %}
		</tbody>
		</table>
	</div>


{% endblock %}