
{% extends 'base.html' %}
{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="card employee-card">
			<h3 class="card-title">Vehicle Infomation</h3>
			<table class="table">
				<th>Make </th>
				<th>Model</th>
				<th>Odometer</th>
				<th>License Plate</th>
				<tbody>
					<tr>
						<td>{{workorder.vehicle.make}}</td>
						<td>{{workorder.vehicle.model}}</td>
						<td>{{workorder.odometer}}</td>
						<td>{{workorder.vehicle.license_plate}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="card employee-card">
			<h3 class="card-title">Work History</h3>
			<table class="table">
				<th>Date Created </th>
				<th>Service Type</th>
				<th>Amount Paid</th>
				<th>Work Order Total</th>
				<th>Balance</th>
				<tbody>
				{% for workorder in workorder.all %}
					<tr>
						<td>{{workorder.date_created}}</td>
						<td>{{workorder.service_type}}</td>
						<td>{{workorder.amount_paid}}</td>
						<td>{{workorder.estimate_revision}}</td>
						<td>
						<form action="/customers/workorder_summary/{{workorder.id}}">
						    <button type="submit" value="Create Work Order" class="btn btn-primary">Submit</button>
						</form>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}