<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

{% block content %}
<body>
<div class="company-info">
    <h1>Stockdale Auto Electric Customer Receipt</h1>
    <p>2901 Brundage Ln</p>
    <p>Bakersfield, California 93304</p>
</div>

<div class="customer-info">
    <h2>Customer Information</h2>
    {{workorder.customer.first_name}}
    {{workorder.customer.last_name}}<br>
    {{workorder.customer.address.address}}<br>
    {{workorder.customer.address.city}}
    {{workorder.customer.address.state}}
    {{workorder.customer.address.zip_code}}    
</div>

<div class="service-info">
    <h2>Serivce Information</h2>
    <strong>Service Requested</strong>
    {% for service in workorder.service_type.all %}
        <li>{{service.name}}</li>
    {% endfor %}

    <strong>Date of Initial Service: </strong>
    {{work_order.date_completed}}<br>
</div>
    <strong>Date of Service Completion</strong>
    {{work_order.date_completed}}
    
    {% for note in service_notes.all %}
        <strong>Tech:</strong> 
        {{note.employee}}<br>
        <strong>Date</strong>
        {{note.date_serviced}}<br>
        
        <strong>Notes</strong>{{note.notes}}<br>
        
    {% endfor %}
</div>

<div class="payment-info">
    <h2>Payment Information</h2>

    <strong>Initial Estimate</strong> : {{workorder.estimate_initial}}<br />

    <strong> Total Estimate: </strong> {{workorder.estimate_revision}}<br />

    <strong>Total Amount Paid:</strong> {{workorder.amount_paid}}

</div>

{% endblock %}
</body>
</html>