{% extends "base.html" %}
{% block content %}

<div class="row">
	<div class="col-md-12">
		
			<div class="card employee-card">
				<label>New Customer</label>
				<input type="radio" name="new-customer"/>

				<label>Existing Customer</label>
				<input type="radio" id="new-customer-radio" name="new-customer"/>

				<div id="existing-customer-container">
					<form method='GET' action='/customers/get_customer'>
						<label>Customer First Name</label>
						<input type="text" name="c-first-name" id="c-first-name" class="form-control" />
						<label>Customer Last Name</label>
						<input type="text" name="c-last-name" id="c-last-name" class="form-control"/>

						<button  class="btn btn-primary" type="button" id="query-existing-customer-btn">Query</button>
					</form>
				</div>
				<h3>Customer Information</h3>
				{{customer_form.as_p}}
				<h3>Customer Address</h3>
				{{ca_form.as_p}}
			</div>

			<div class="card employee-card">
				<h3>Vehicle Information</h3>
				<label>New Vehicle</label>
				<input type="radio" name="new-vehicle"/>

				<label>Existing Vehicle</label>
				<input type="radio" id="existing-vehicle" name="existing-vehicle"/>

				{{vehicle_form.as_p}}
			</div>

			<div class="card employee-card">
				<h4>Service Information</h4>
				{{work_order_form.as_p}}
			</div>
	</div>

</div>


{% endblock %}