{% extends "base.html" %}
{% block content %}

<div class="row">
	<div class="col-md-12">
		<!-- Work Order Detail -->
		<div class="card employee-card">
			<h5 class="card-title">Work Order</h5>
			<table class="table">
				<th>Date</th>
				<th>Customer</th>
				<th>Vehicle</th>
				<th>Services</th>
				<th>Parts</th>
				<tbody>
					<tr>
						<td>{{work_order.date_created}}</td>
						<td>{{work_order.customer}}</td>
						<td>{{work_order.vehicle}}</td>
						<td>
							{% for service in work_order.service_type.all %}
								<li>{{service.name}}</li>
							{% endfor %}
						</td>
						<td>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-md-12">
		<!-- Work Order Detail -->
		<div class="card employee-card">
			<h5 class="card-title">Technician Notes</h5>
			<table class="table">
				<th>Date</th>
				<th>Technician</th>
				<th>Time Spend</th>
				<th>Parts</th>
				<th>Notes</th>
				<tbody>
					{% for service in service_notes %}
					<tr>
						<td>{{service.date_serviced}}</td>
						<td>{{service.employee}}</td>
						<td>{{service.hours_spent}}</td>
						<td>
						{% for part in service.parts_used.all %}
							<li>{{part.name}}</li>
						{% endfor %}
						</td>
						<td>{{service.notes}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<!-- Work Order Detail -->
		<div class="card employee-card">
			<h5 class="card-title">Payment</h5>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<form class="form-group">
					<div class="input-group">
					  <span class="input-group-addon" >Initial Estimate</span>
					  <input class="form-control" id="e_initial" type=number value="{{work_order.estimate_initial}}" disabled>					
					  </div>
					<br>
					<div class="input-group">
					  <span class="input-group-addon" >Final Cost</span>
					  <input class="form-control" id="e_final" type="number" value="{{work_order.estimate_revision}}" disabled>					
					</div>
					<br>
					<div class="input-group">
					  <span class="input-group-addon" >Payment Method</span>
					  <select>
					  	<option>Cash</option>
					  	<option>Credit Card</option>
					  	<option>Check</option>
					  </select>					</div>
					<br>
					<div class="input-group">
					  <span class="input-group-addon" >Payment Amount</span>
					  <input class="form-control" id="payment_amount" type="number">
					</div>
					<br>
					<div class="input-group">
					  <span class="input-group-addon" >Work Order Status</span>
					  <select>
					  	<option>Awaiting Further Payments</option>
					  	<option>Paid in Full</option>
					  </select>
					</div>
					<br>
					<button  class="btn btn-success" type="button" id="submitPayment">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}