{% extends "base.html" %}
{% block content %}

<div class="row">
	<div class="col-md-12">
		
		<div class="card employee-card">

			<h4>Open Work Orders</h4>
			
			<table class="table table-striped">
			<thead>
				<tr>
					<th>Date Opened</th>
					<th>Customer Name</th>
					<th>Assigned Technician</th>
					<th>Vehicle</th>
					<th>Problem Description</th>
				</tr>
			</thead>
				{% for work_order in work_orders %}
					<tr>
						<td>{{work_order.date_created}}</td>
						<td>{{work_order.customer}}</td>
						<td>{{work_order.employee}}</td>
						<td>{{work_order.vehicle}}</td>
						<td>{{work_order.problem_description}}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
		<div class="btn btn-secondary">
			<a href="create_work_order">Create Work Order</a>
		</div>
	</div>

</div>


{% endblock %}