{% extends "base.html" %}
{% block content %}

<div class="row">
	<div class="col-md-12">
		<div class="card employee-card">
			<h5 class="card-title">Work Order Detail</h5>
			<table class="table">
				<th>Date </th>
				<th>Customer</th>
				<th>Vehicle</th>
				<th>Services</th>
				<th>Receipt</th>
				<tbody>
					<tr>
						<td>{{work_order.date_created}}</td>
						<td>{{work_order.customer}}</td>
						<td>{{work_order.vehicle}}</td>
						<td>
							{% for service in work_order.service_type.all %}
								<li>{{service.name}}</li>
							{% endfor %}
						</td>
						<td>
							<a href="#">
								<i class="fa fa-file-pdf-o"></i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
		
			<div class="card employee-card">
				<h5 class="card-title">Service History</h5>
			<table class='table'>
				<th>Tech</th>
				<th>Date</th>
				<th>Hours</th>
				<th>Notes</th>
				<th>Parts</th>
				<tbody class="emp-notes">
				{% if notes %}
				{% for note in notes %}
				<tr>
					<td>{{note.employee}}</td>
					<td>{{note.date_serviced}}</td>
					<td>{{note.hours_spent}}</td>
					<td>{{note.notes}}</td>
				</tr>
				{% endfor %}
				{% endif %}
				</tbody>
			</table>
			</div>
		

		<div class="card employee-card">
			<h5 class="card-title">Service Notes</h5>
			<div class="row">
				<div class="col-md-12 col-md-offset-1">
					<form>
					  <!-- Time Spent -->
					  <input type="hidden" id="work_order_id" value="{{work_order.id}}">
					  <fieldset class="form-group">
					  	<div class="row">
					  		<div class="col-xs-2">
						  		<label for="exampleInputEmail1">Time Spent</label>
						  		<input type="number" step="0.5" class="form-control" id="time-spent">
					  		</div>
					  	</div>
					  </fieldset>

					  <!-- Notes -->
					  <fieldset class="form-group">
					  	<div class="row">
					  		<div class="col-xs-8">
						  		<label for="service-notes">Notes</label>
						  		<textarea class="form-control" id="service-notes" rows="3"></textarea>
					  		</div>
					  	</div>
					  </fieldset>

					  <!-- Parts -->
					  <fieldset class="form-group">
					    <div class="row">
					    	<div class="col-xs-8">
						    	<label for="parts-selected">Parts Used</label>
						    	<select multiple class="form-control" id="parts-selected">
						    		{% for part in parts %}
						    			<option>{{part.name}}</option>
						    		{% endfor %}
						    	</select>
					    	</div>
					    </div>
					    
					  </fieldset>

					  <!-- Status -->
					  <fieldset class="form-group">
					    <div class="row">
					    	<div class="col-xs-6">
					    	    <label for="service-status">Service Status</label>
					    	    <select class="form-control" id="service-status">
					    		    <option>Diagnosing</option>
					    		    <option>Repairing</option>
					    		    <option>Reassigning</option>
					    		    <option>Completed</option>
					    	    </select>
					    	</div>
					    	<div class="col-xs-3">
						    	<!-- Reassign -->
						    	<fieldset class="form-group">
						    	  <label for="reassign">Reassign</label>
						    	  <select class="form-control" id="reassign">
						    	    <option>No</option>
						    	    {% for tech in techs %}
						    	    	<option>{{tech}}</option>
						    	    {% endfor %}
						    	  </select>
						    	</fieldset>
					    	</div>
					    </div>
					  </fieldset>
					  <button type="button" class="btn btn-primary submit-note">Submit</button>
					</form>
				</div>
			</div>
		</div>

	</div>

</div>


{% endblock %}