{% extends 'base.html' %}
{% block content %}


<div class="row">
	<div class="col-md-12">
		<div class="card employee-card">
			<h4 class="card-title">Change Password</h4>
			<div class="row">
				<div class="col-md-8 col-md-offset-1">
					<form class="form-group" method="POST" action="{{employee.id}}/change_password">{% csrf_token %}
						<label>Current Password</label>
						<input type="text" class="form-control">
						<label>New Password</label>
						<input type="text" class="form-control">
						<label>Confirm New Password</label>
						<input type="text" class="form-control">
						
						<button class="btn btn-primary" type="submit">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}