{% extends "employee/base.html" %}
{% block content %}

<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-9">
	<h1>Employee Directory</h1>
	<div class="employee-container">

		{% for employee in employees %}
			<div class="employee-profile">
				<ul class="employee-information">
					<li><img src="http://placehold.it/150x150" /></li>
					<strong>{{employee.first_name}} {{employee.last_name}}</strong>
					<li>Job Title: {{employee.job_title}}</li>
					<li>Email: {{employee.email}}</li>
				</ul>
				
				
				
			</div>
		{% endfor %}
	</div>
	</div>
</div>
{% endblock %}