{% extends "base.html" %}
{% block content %}
	<div class="row">
		<div class="col-md-12">
		<div class="card employee-card">
			<h4 class="card-title">Assigned Work Orders</h4>
			<table class="table table-striped">

			<thead>
				<tr>
					<th>Date Created</th>
					<th>Customer</th>
					<th>Vehicle</th>
					<th>Service</th>
				</tr>
			</thead>

				
					<tr>
					<td>{{work_orders.date_created}}</td>
					<td>{{work_orders.customer}}</td>
					<td>{{work_orders.vehicle}}</td>
					<td>
					{% for service in work_orders.service_type.all %}
						<li>{{service.name}} {{service.cost}}</li>
					{% endfor %}
					</td>
					</tr>
				
			</table>
		</div>
	
		</div>
	</div>
{% endblock %}