{% extends "employee/base.html" %}
{% block content %}


	<h1>Employee Directory</h1>
	<div class="employee-container">

		{% for employee in employees %}
			<div class="employee-profile">
				<ul class="employee-information">
					<li><img src="http://placehold.it/150x150" /></li>
					<strong>{{employee.first_name}} {{employee.last_name}}</strong>
					<li>Job Title: {{employee.job_title}}</li>
					<li>Email: <a href="mail:{{employee.email}}"/>{{employee.email}}</a></li>
				</ul>
			</div>
		{% endfor %}

{% endblock %}