{% extends "base.html" %}
{% block content %}
	{% if employee %}
		<h3>Welcome back, {{employee.first_name}}</h3>
		<div class="card">
			<table class="table table-striped">
			<thead>
				<tr>
					<th>Date</th>
					<th>Announcement</th>
					<th>Posted By</th>
				</tr>
			</thead>
			{% for announcement in announcements %}
				<tr>
					<td>{{ announcement.posted}}</td>
					<td><a href="{{ announcement.id }}/">{{ announcement.title}}</a></td>
					<td>{{ announcement.posted_by }}</td>
				</tr>
			{% endfor %}
			</table>
		</div>
		<div class="card">
			<h4>Assigned Work Orders</h4>
			<table class="table table-striped">
			<thead>
				<tr>
					<th>Date Created</th>
					<th>Customer</th>
					<th>Vehicle</th>
					<th>Service</th>
				</tr>
			</thead>
			</table>
		</div>

		<div class="card">
			<h4 class="card-title">Messages</h4>
			<div class="card-block">
				<li>Message</li>
				<li>Message</li>
				<li>Message</li>
				<li>Message</li>

			</div>
		</div>

	{% endif %}
	

{% endblock %}