{% extends 'base.html' %}
{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="card employee-card">
			<h4 class="card-title">Change Contact Information</h4>
			<form class="form-group">
				<label>Home Phone Number</label>
				<input type="text" class="form-control">
				<label>Mobile Phone</label>
				<input type="text" class="form-control">
				<button class="btn-primary">Submit</button>
			</form>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="card employee-card">
			<h4 class="card-title">Change Password</h4>
			<form class="form-group">
				<label>Current Password</label>
				<input type="text" class="form-control">
				<label>New Password</label>
				<input type="text" class="form-control">
				<label>Confirm New Password</label>
				<input type="text" class="form-control">
				<button class="btn-primary">Submit</button>
			</form>
		</div>
	</div>
</div>

{% endblock %}