<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    
    <!-- Bootstrap CSS -->
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">    
    <link rel="stylesheet" type="text/css" href="{% static "employee/css/base.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "employee/css/employee.css" %}">
  </head>
  
  <body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="side-nav">
          
          <ul class="nav side-nav-links">
          <!-- HOME -->
            {% if request.session.job_title == "Service Technician" %}
            <li class="side-nav-link" id="home">
              <a href="/">
                <i class="fa fa-home"></i> Home
              </a>
            </li>
            {% endif %}

            
            {% if request.session.job_title == "Administrative" %}
              <li class="side-nav-link">
                <a href="/employees/hr">
                  <i class="fa fa-credit-card"></i> Payment Processing
                </a>
              </li>
            {% endif %}
            
            <!-- SERVICE -->
            <li class="side-nav-link" id="service">
              <a href="/workorders">
                <i class="fa fa-wrench"></i> Service
              </a>
            </li>
            <!-- EMP DIRECTORY -->
            <li class="side-nav-link" id="emp_directory">
              <a href="/employees/employee_directory"><i class="fa fa-users"></i>
                Employee Directory
              </a>
            </li>

            <!-- CUST DIRECTORY -->
            <li class="side-nav-link" id="cust_directory">
              <a href="/customers/customer_directory">
                <i class="fa fa-car"></i> Customer Directory
              </a>
            </li>
            

            <!-- PROFILE -->
            <li class="side-nav-link" id="profile">
              <a href="/employees/edit_profile/{{request.user.id}}">
                <i class="fa fa-user"></i> Employee Profile
              </a>
            </li>

            <!-- LOGOUT -->
            <li class="side-nav-link">
              <a href="/user/logout">
                <i class="fa fa-sign-out"></i> Logout
              </a>
            </li>
          </ul>
        </div>
      </div>

      <!-- BEGIN CONTENT -->
      <div class="col-md-9">
        {%block content %}

        {% endblock %}
      </div>
  </div>
  </div>
    <!-- jQuery first, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static "js/app.js" %}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>

    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
  </body>
</html>
